<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.cms-float-left {
  margin-right: 10px;
}
.cms-float-right {
  margin-left: 10px;
}
</style>